/*Cброс Стилей*/
body {
  margin: 0;
  padding: 0;
}
/*Конец Сброса Стилей*/


body{
  font-family: 'Open Sans', sans-serif;
}
.cont{
  width: 1185px;
  margin: 0 auto;
}

header{
  height: 90px;
  .logo{
    float: left;
    img{
      vertical-align: middle;
    }
  }
  menu{
    padding-top: 1px
  }
  ul{
    margin-left: 340px;
    li{
      margin-top: 50px;
      display: inline;
      font-family: 'Open Sans Bold', sans-serif;
      font-weight: bold;
      margin-left: 25px;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
}
.headBlocks{
  width: 100%;
  overflow: hidden;
}
.block{
  position: relative;
  float: left;
  width: 25%;
  height: 360px;
  .info{
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top:281px;
  }
  h2{
    color: white;
  }
}
.infoCont{
  font-family: 'Open Sans', sans-serif;
  padding-left: 15px;
  margin-left: 15px;
  margin-top: 20px;
  border-left: 4px solid orangered ;
  h2{
    margin-bottom: 0;
  }

}
.ico{
  margin-left: 24px;
}
.tx{
  color: white;
  margin-left: 5px;
  font-size: 14px;
}
.articles{
  width: 890px;
}
.articles>h2 {
  border-left: 5px solid orangered;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 50px;
  line-height: 0.8;
  margin-left: 10px;
}
.post{
  height:415px ;
  border-bottom: 1px solid #f2f2f2;
  width: 33%;
  float: left;
  padding-left: 10px;
  h2{
    font-size: 16px;
    text-transform: uppercase;
  }
  p{
    font-size: 14px;
  }
  img{
    width: 100%;
  }
}
.postComrnts{
  float: right;
}
.postInfo{
  border-top: 1px solid #f2f2f2;
  margin-top: 40px;
  padding-top: 5px;
}